# Overview

The purpose of this project was to experiment with different ways to query a database containing a large volume of CitiBike trip data. The data was preloaded into CartoDB and queried via SQL.

## Setup

In [1]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd
from geopy.distance import great_circle

### Query functions

In [2]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [3]:
# Get all the records and sort by start_station_id, then by tripduration (for trips <= 3 hrs)
query = '''SELECT * FROM fb55.citibike
WHERE tripduration <= (3*60*60)
ORDER BY start_station_id DESC, tripduration DESC;
'''
table1 = get_data(query)
table1.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

In [4]:
# Select head of data
query = '''
SELECT * FROM fb55.citibike
'''
table1 = get_data(query)
table1.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1

In [5]:
# Select tail of data
query = '''
SELECT * FROM fb55.citibike
'''
table1 = get_data(query)
table1.tail(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [6]:
# Select all unique start_station_id numbers
query = '''
SELECT DISTINCT start_station_id FROM fb55.citibike
ORDER BY start_station_id ASC
'''
table4 = get_data(query)
table4

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

In [7]:
# Count total trips
query = '''
SELECT COUNT(cartodb_id)
FROM fb55.citibike
'''

table5 = get_data(query)
table5

   count  Unnamed: 1
0  46200         NaN

In [8]:
# Select max min avg trip duration

query = '''
SELECT MAX(tripduration) AS trip_dur_max, 
MIN(tripduration) AS trip_dur_min, 
AVG(tripduration) AS trip_dur_avg
FROM fb55.citibike
'''
table6 = get_data(query)
table6

   trip_dur_max  trip_dur_min  trip_dur_avg
0         43016            60    675.865823

In [9]:
# Select all the trips that started on 2-2-15
query = '''
SELECT * FROM fb55.citibike
WHERE starttime::date = '2015-02-02'
'''
table7 = get_data(query)
table7.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2

In [10]:
# Get all the weekend trips
query = '''
SELECT *, EXTRACT(dow FROM starttime::date) AS dow
FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) IN (0,6);
'''
table9 = get_data(query)
table9

,the_geom,start_station_latitude,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,start_station_name,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,dow
0,NaN,40.738274,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,E 20 St & Park Ave,107,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1,0
1,NaN,40.760094,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,W 43 St & 10 Ave,1088,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1,0
2,NaN,40.724537,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,E 6 St & Avenue B,2759,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1,0
3,NaN,40.732233,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,E 12 St & 3 Ave,4893,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1,0
4,NaN,40.756405,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,W 41 St & 8 Ave,6090,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0,0
5,NaN,40.735877,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,E 20 St & 2 Ave,39876,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1,6
6,NaN,40.769155,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,Broadway & W 60 St,41501,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1,6
7,NaN,40.722281,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,E 6 St & Avenue D,41585,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1,6
8,NaN,40.727434,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,Great Jones St,41796,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1,6
9,NaN,40.736494,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,W 13 St & 6 Ave,42307,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1,6
10,NaN,40.755942,NaN,42532,-74.002116,984,2015-02-07 14:42:00+00,2015-02-07 14:59:00+00,525,W 34 St & 11 Ave,42523,388,W 26 St & 10 Ave,40.749718,-74.002950,14549,Customer,NaN,0,6
11,NaN,40.756405,NaN,42915,-73.990026,621,2015-02-07 15:23:00+00,2015-02-07 15:33:00+00,477,W 41 St & 8 Ave,42906,509,9 Ave & W 22 St,40.745497,-74.001971,20216,Subscriber,1980.0,1,6
12,NaN,40.738177,NaN,44448,-73.977387,397,2015-02-07 18:03:00+00,2015-02-07 18:10:00+00,174,E 25 St & 1 Ave,44443,528,2 Ave & E 31 St,40.742909,-73.977061,15948,Subscriber,1991.0,1,6
13,NaN,40.734232,NaN,44744,-73.986923,352,2015-02-07 18:39:00+00,2015-02-07 18:45:00+00,297,E 15 St & 3 Ave,44739,507,E 25 St & 2 Ave,40.739126,-73.979738,15367,Subscriber,1978.0,1,6
14,NaN,40.750200,NaN,44834,-73.990931,1063,2015-02-07 18:53:00+00,2015-02-07 19:11:00+00,492,W 33 St & 7 Ave,44829,174,E 25 St & 1 Ave,40.738177,-73.977387,20702,Subscriber,1989.0,2,6
15,NaN,40.744023,NaN,45301,-73.976056,483,2015-02-07 19:59:00+00,2015-02-07 20:07:00+00,527,E 33 St & 2 Ave,45297,325,E 19 St & 3 Ave,40.736245,-73.984738,20296,Subscriber,1984.0,1,6
16,NaN,40.751551,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,8 Ave & W 33 St,93,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2,0
17,NaN,40.752996,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,Broadway & W 39 St,847,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1,0
18,NaN,40.739713,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,W 18 St & 6 Ave,1180,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1,0
19,NaN,40.740343,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,Broadway & E 22 St,1971,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1,0
20,NaN,40.763414,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,W 46 St & 11 Ave,2053,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2,0
21,NaN,40.727434,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,Great Jones St,2138,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1,0
22,NaN,40.730386,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,Carmine St & 6 Ave,3591,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1,0
23,NaN,40.732233,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,E 12 St & 3 Ave,4983,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0,0
24,NaN,40.742388,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,W 20 St & 7 Ave,5067,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0,0
25,NaN,40.729538,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,E 11 St & 1 Ave,5748,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1,0
26,NaN,40.744876,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,W 24 St & 7 Ave,6086,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1,0
27,NaN,40.750200,NaN,38,-73.990931,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,W 33 St & 7 Ave,39722,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1,6
28,NaN,40.741776,NaN,49,-74.001497,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,W 17 St & 8 Ave,39412,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1,6
29,NaN,40.734232,NaN,50,-73.986923,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,E 15 St & 3 Ave,39651,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,40.729039,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,Washington Pl & Broadway,46171,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1,6
13202,NaN,40.716059,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,46172,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1,6
13203,NaN,40.714740,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,Warren St & Church St,46173,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1,6
13204,NaN,40.732233,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,E 12 St & 3 Ave,46174,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2,6
13205,NaN,40.683125,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,Dean St & 4 Ave,46175,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1,6
13206,NaN,40.716059,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,46176,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1,6
13207,NaN,40.740343,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,Broadway & E 22 St,46177,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1,6
13208,NaN,40.732241,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,Washington Pl & 6 Ave,46178,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2,6
13209,NaN,40.743943,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,E 31 St & 3 Ave,46179,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1,6
13210,NaN,40.769155,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,Broadway & W 60 St,46180,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1,6
13211,NaN,40.730386,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,Carmine St & 6 Ave,46181,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1,6
13212,NaN,40.759923,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,W 52 St & 5 Ave,46182,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1,6
13213,NaN,40.683125,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,Dean St & 4 Ave,46183,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1,6
13214,NaN,40.760193,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,9 Ave & W 45 St,46184,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1,6
13215,NaN,40.766953,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,46185,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1,6
13216,NaN,40.766953,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,46186,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1,6
13217,NaN,40.724055,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,Watts St & Greenwich St,46187,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1,6
13218,NaN,40.760660,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,W 51 St & 6 Ave,46188,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1,6
13219,NaN,40.734927,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,University Pl & E 14 St,46189,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1,6
13220,NaN,40.735324,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,W 11 St & 6 Ave,46190,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1,6
13221,NaN,40.741776,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,46191,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2,6
13222,NaN,40.762699,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,46192,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1,6
13223,NaN,40.714740,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,46193,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1,6
13224,NaN,40.735877,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,46194,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1,6
13225,NaN,40.750020,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,46195,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2,6
13226,NaN,40.743453,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,46196,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1,6
13227,NaN,40.745168,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,46197,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2,6
13228,NaN,40.745168,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,46198,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1,6
13229,NaN,40.730386,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,46199,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2,6
13230,NaN,40.726281,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,46200,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2,6

In [11]:
# Average weekend trip duration
query = '''
SELECT avg(tripduration) AS avg_weekend_duration
FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) IN (0,6);
'''
table10 = get_data(query)
table10.head(5)

   avg_weekend_duration  Unnamed: 1
0            662.942181         NaN

In [12]:
# Get all the weekday trips
query = '''
SELECT *, EXTRACT(dow FROM starttime::date) AS dow
FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) BETWEEN 1 AND 5;
'''
table11 = get_data(query)
table11.head(5)

,the_geom,start_station_latitude,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,start_station_name,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,dow
0,NaN,40.745168,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,5 Ave & E 29 St,7367,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1,1
1,NaN,40.716059,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,Allen St & Hester St,7712,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0,1
2,NaN,40.748901,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,E 39 St & 3 Ave,8263,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1,2
3,NaN,40.750664,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,10 Ave & W 28 St,9375,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2,2
4,NaN,40.725029,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,E 2 St & 2 Ave,10411,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1,2

In [13]:
# Get the weekday trip duration
query = '''
SELECT avg(tripduration) AS avg_weekday_duration
FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) BETWEEN 1 AND 5;
'''
table12 = get_data(query)
table12.head(5)

   avg_weekday_duration  Unnamed: 1
0            681.052292         NaN

In [14]:
# Group by station location
query = '''
SELECT start_station_name
FROM fb55.citibike
GROUP BY start_station_name
ORDER BY start_station_name;
'''
table13 = get_data(query)
table13

                start_station_name  Unnamed: 1
0                 10 Ave & W 28 St         NaN
1                 11 Ave & W 27 St         NaN
2                 11 Ave & W 41 St         NaN
3                 11 Ave & W 59 St         NaN
4                 12 Ave & W 40 St         NaN
5                  1 Ave & E 15 St         NaN
6                  1 Ave & E 44 St         NaN
7                  2 Ave & E 31 St         NaN
8                  2 Ave & E 58 St         NaN
9          3 Ave & Schermerhorn St         NaN
10                 5 Ave & E 29 St         NaN
11               6 Ave & Broome St         NaN
12                6 Ave & Canal St         NaN
13                 6 Ave & W 33 St         NaN
14                 8 Ave & W 31 St         NaN
15                 8 Ave & W 33 St         NaN
16                 8 Ave & W 52 St         NaN
17                 9 Ave & W 14 St         NaN
18                 9 Ave & W 16 St         NaN
19                 9 Ave & W 18 St         NaN
20                 9 Ave & W 22 St         NaN
21                 9 Ave & W 45 St         NaN
22         Adelphi St & Myrtle Ave         NaN
23         Allen St & E Houston St         NaN
24            Allen St & Hester St         NaN
25         Allen St & Rivington St         NaN
26          Ashland Pl & Hanson Pl         NaN
27   Atlantic Ave & Fort Greene Pl         NaN
28        Atlantic Ave & Furman St         NaN
29              Avenue D & E 12 St         NaN
..                             ...         ...
297               W 4 St & 7 Ave S         NaN
298                W 51 St & 6 Ave         NaN
299               W 52 St & 11 Ave         NaN
300                W 52 St & 5 Ave         NaN
301                W 52 St & 9 Ave         NaN
302               W 53 St & 10 Ave         NaN
303                W 54 St & 9 Ave         NaN
304               W 56 St & 10 Ave         NaN
305                W 56 St & 6 Ave         NaN
306               W 59 St & 10 Ave         NaN
307          Warren St & Church St         NaN
308    Washington Ave & Greene Ave         NaN
309      Washington Ave & Park Ave         NaN
310                Washington Park         NaN
311          Washington Pl & 6 Ave         NaN
312       Washington Pl & Broadway         NaN
313            Washington Square E         NaN
314  Washington St & Gansevoort St         NaN
315        Water - Whitehall Plaza         NaN
316        Watts St & Greenwich St         NaN
317         W Broadway & Spring St         NaN
318          West St & Chambers St         NaN
319                 West Thames St         NaN
320       W Houston St & Hudson St         NaN
321           William St & Pine St         NaN
322       Willoughby Ave & Hall St         NaN
323   Willoughby Ave & Walworth St         NaN
324       Willoughby St & Fleet St         NaN
325   Wythe Ave & Metropolitan Ave         NaN
326               York St & Jay St         NaN

[327 rows x 2 columns]

In [15]:
# Number of trips per station
query = '''
SELECT start_station_name, COUNT(cartodb_id)
FROM fb55.citibike
GROUP BY start_station_name
ORDER BY start_station_name;
'''
table14 = get_data(query)
table14

                start_station_name  count
0                 10 Ave & W 28 St    203
1                 11 Ave & W 27 St    172
2                 11 Ave & W 41 St    229
3                 11 Ave & W 59 St    120
4                 12 Ave & W 40 St     91
5                  1 Ave & E 15 St    397
6                  1 Ave & E 44 St    110
7                  2 Ave & E 31 St    302
8                  2 Ave & E 58 St     64
9          3 Ave & Schermerhorn St     19
10                 5 Ave & E 29 St    230
11               6 Ave & Broome St    112
12                6 Ave & Canal St    101
13                 6 Ave & W 33 St    296
14                 8 Ave & W 31 St    530
15                 8 Ave & W 33 St    387
16                 8 Ave & W 52 St    133
17                 9 Ave & W 14 St    111
18                 9 Ave & W 16 St    178
19                 9 Ave & W 18 St    112
20                 9 Ave & W 22 St    281
21                 9 Ave & W 45 St    189
22         Adelphi St & Myrtle Ave     92
23         Allen St & E Houston St    207
24            Allen St & Hester St    156
25         Allen St & Rivington St    206
26          Ashland Pl & Hanson Pl    100
27   Atlantic Ave & Fort Greene Pl     36
28        Atlantic Ave & Furman St      5
29              Avenue D & E 12 St     19
..                             ...    ...
297               W 4 St & 7 Ave S    208
298                W 51 St & 6 Ave    192
299               W 52 St & 11 Ave    114
300                W 52 St & 5 Ave    146
301                W 52 St & 9 Ave    107
302               W 53 St & 10 Ave     81
303                W 54 St & 9 Ave     64
304               W 56 St & 10 Ave    140
305                W 56 St & 6 Ave    164
306               W 59 St & 10 Ave    100
307          Warren St & Church St     71
308    Washington Ave & Greene Ave     21
309      Washington Ave & Park Ave     50
310                Washington Park     37
311          Washington Pl & 6 Ave    113
312       Washington Pl & Broadway    222
313            Washington Square E    164
314  Washington St & Gansevoort St    122
315        Water - Whitehall Plaza     70
316        Watts St & Greenwich St     73
317         W Broadway & Spring St    159
318          West St & Chambers St    162
319                 West Thames St    107
320       W Houston St & Hudson St    193
321           William St & Pine St     95
322       Willoughby Ave & Hall St     35
323   Willoughby Ave & Walworth St     27
324       Willoughby St & Fleet St     57
325   Wythe Ave & Metropolitan Ave     45
326               York St & Jay St    106

[327 rows x 2 columns]

In [16]:
# Number of trips per starting station w/in 500 meters of Times Square
query = '''
SELECT distcalc.start_station_name, COUNT(distcalc.cartodb_id)
FROM (SELECT *, 
    ST_Distance(
    CDB_LatLng(start_station_latitude,start_station_longitude)::geography,
    CDB_LatLng(40.7577,-73.9857)::geography, True) AS dist_from_tsq
    FROM fb55.citibike) AS distcalc
WHERE distcalc.dist_from_tsq <= 500
GROUP BY distcalc.start_station_name
ORDER BY distcalc.start_station_name
'''
table15 = get_data(query)
table15

   start_station_name  count
0  Broadway & W 41 St    251
1  Broadway & W 49 St    213
2     W 41 St & 8 Ave    507
3     W 42 St & 8 Ave    221
4     W 43 St & 6 Ave    112
5     W 45 St & 6 Ave    141
6     W 45 St & 8 Ave    141

In [17]:
# Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare
query = '''
SELECT distcalc.start_station_name, AVG(distcalc.tripduration) AS avg_dur
FROM (SELECT *, 
    ST_Distance(
    CDB_LatLng(start_station_latitude,start_station_longitude)::geography,
    CDB_LatLng(40.7577,-73.9857)::geography, True) AS dist_from_tsq
    FROM fb55.citibike) AS distcalc
WHERE (distcalc.dist_from_tsq <= 500) AND (EXTRACT(dow FROM distcalc.starttime::date) IN (0,6))
GROUP BY distcalc.start_station_name
ORDER BY avg_dur DESC
'''
table16 = get_data(query)
table16.head(1)

   start_station_name      avg_dur
0  Broadway & W 49 St  1010.104167